{% extends 'boilerplate.html' %}

{% block content %}
    <nav>
        <!-- TODO make this say what view we're using -->
        <h3>BLOG posts&nbsp;</h3>
        {% if session.loglevel %}
            [ <a href="newpost">&#x270E;new post</a> ]
        {% endif %}
    </nav>
<!--	
	<div class="ghBlogViewOptions">
        <form method="GET" action="" id="viewform">
            Show: 
            <input type="radio" id="viewall" name="view" value="all" onclick="document.getElementById('viewform').submit()">All</input>
            <input type="radio" id="viewuser" name="view" value="user" onclick="document.getElementById('viewform').submit()">By User</input>
            <input type="radio" id="viewown" name="view" value="own" onclick="document.getElementById('viewform').submit()">Mine</input>
        </form>
	</div>
	
	<script>
        var parts = window.location.search.substr(1).split("&");
        var $_GET = {};
        for (var i = 0; i < parts.length; i++) {
            var temp = parts[i].split("=");
            $_GET[decodeURIComponent(temp[0])] = decodeURIComponent(temp[1]);
        }

        if( $_GET['view'] ) {
            document.getElementById("view"+$_GET['view']).checked = true;
        } else {
            document.getElementById("viewall").checked = true;
        }
	</script>
-->	
    <style>
        .paginateNav {
            text-align: center;
            width: 100%;
        }
    </style>
	<div class="blogzView">
    Showing {{ ghEntries.items|length }} 
    [{{ ghEntries.page * ghEntries.items|length - ghEntries.items|length + 1 }} to {{ ghEntries.page * ghEntries.items|length }}]
    of {{ghEntries.total}}<br/>
        <div class="paginateNav">
            [
            {% if ghEntries.has_prev  %}
                <a href="{{url_for('blog', page=ghEntries.prev_num, limit=limit)}}">prev</a>
            {% else %}
                prev
            {% endif %}
            (
            {% for page in ghEntries.iter_pages() %}
                {% if page != ghEntries.page %}
                    <a href="{{url_for('blog', page=page, limit=limit)}}">{{ page }}</a>
                {% else %}
                    {{ page }} 
                {% endif %}
            {% endfor %}
            )
            {% if ghEntries.has_next %}
                <a href="{{url_for('blog', page=ghEntries.next_num, limit=limit)}}">next</a>
            {% else %}
                next
            {% endif %}
            ]
        </div>
    {% for entry in ghEntries.items %}
        <div class="blogzEntry">
            <div class="blogzEntryTitle">
                <h3><a href="?id={{entry.id}}">{{entry.title}}</a></h3>
                {% if entry.user == session.handle %}
                    <h6>[ &#x2710;edit | <a href="removepost?id={{entry.id}}">&#x2718;remove</a> ]</h6>
                {% endif %}
            </div>
            <div class="blogzEntryAuthor">
                <a href="blog?user={{entry.user}}">{{entry.user}}</a>
            </div>
            <div class="blogzEntryContent">
                {{entry.entry}}
            </div>
            <div class="blogzEntryCreated">{{entry.created}}</div>
		</div>
    {% else %}
        <p>No entries to show.</p>
    {% endfor %}
    </div>

    <div class="paginateNav">
        [
        {% if ghEntries.has_prev  %}
            <a href="{{url_for('blog', page=ghEntries.prev_num, limit=limit)}}">prev</a>
        {% else %}
            prev
        {% endif %}
        (
        {% for page in ghEntries.iter_pages() %}
            {% if page != ghEntries.page %}
                <a href="{{url_for('blog', page=page, limit=limit)}}">{{ page }}</a>
            {% else %}
                {{ page }} 
            {% endif %}
        {% endfor %}
        )
        {% if ghEntries.has_next %}
            <a href="{{url_for('blog', page=ghEntries.next_num, limit=limit)}}">next</a>
        {% else %}
            next
        {% endif %}
        ]
    </div>

{% endblock %}