<!-- boilerplate.html ::
    2017, Geoffrey Hadler
-->
<!doctype html>
<html>
	<head>
		<meta charset="UTF-8" />
		<meta name="author" content="Geoffrey Hadler" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<!-- TODO: the shortcut icon GET request returns a 404 -->
		<!-- <link href="shortcut icon" href="{{url_for('static', filename='favicon.ico') }}" /> -->
		<link href="style.css" rel="stylesheet"/>
		<link href="https://fonts.googleapis.com/css?family=Sedgwick+Ave|Pacifico|Open+Sans+Condensed|Nunito|Libre+Barcode+39+Text|Monoton|Oswald|Righteous|Source+Code+Pro" rel="stylesheet">
		<title>BLOGz::{{ghPage_Title}}</title>
    </head>
    <body>
		<!-- ANCHOR for #top link -->
        <a name="top"></a>
        <div class="bodyEncap">
            <header>
                <div class="flexLine">
                    <div class="titleArea">
                        <h1>BLOGz</h1>
                        <nav class="navMain">
                            <!-- TODO:: current page as selected 'tab' -->
                            {% if ghPage_Title == "home" %}
                                <span class="navCurrent">&#x21E7;home</span>
                            {% else %}
                                <a href="/">&#x21E7;home</a>
                            {% endif %}
                            {% if ghPage_Title == "posts" %}
                                <span class="navCurrent">&#x269E;posts</span>
                            {% else %}
                                <a href="blog">&#x269E;posts</a>
                            {% endif %}
                        </nav>
                        <div>
                            <h2>{{ghPage_Title}}</h2>
                            <nav>
                                &#x21B3;&nbsp;{{ghNav}}
                            </nav>
                        </div>
                    </div>
                    <div class="slogan">{{ghSlogan}}</div>
                    <nav class="navUser">
                        <!-- TODO: customize based on user session -->
                        <div>User: {{ghUser_Name}}</div>
                        {% if session.loglevel %}
                            [<a href="newpost">&#x270E;new post</a> | <a href="logout">logout</a>]
                        {% else %}
                            [<a href="login">login</a> | <a href="signup">register</a>]
                        {% endif %}
                    </nav>
                </div>
            </header>
            <main>
                <div class="pageContent">
                    {% block content %}
                    {% endblock %}
                </div>
            </main>
            <footer>
                <nav>
                    [ <a href="#top">&uarr;top</a> <!--| <a href="flop">&weierp;poker</a> -->]
                </nav>
            </footer>
        </div> <!--bodyEncap-->
        <div class="flexLine">
            <div class="ghErratae">
                {{ghErratae}}
            </div>
            <div class="ghCopyright">
                Copyright &copy; 2017, Geoffrey Hadler
            </div>
        </div>
	</body>
</html>