{% extends "boilerplate.html" %}
{% block content %}
<h3>Login</h3>
<p>Please Login using your user name (handle) and password.</p>
<form action="login" method="POST">

    <div class="inField {{statusUserName}}">
        <span class="lineIcon">&#x2613;</span>
        <label for="inUserName">User Name:</label>
        <input type="text" name="inUserName" value="{{vUserName}}"/>
        <span class="lineIcon">&larr;</span>
        <span class="msgError">{{strerrUserName}}</span>
    </div>

    <div class="inField {{statusUserPass}}">
        <span class="lineIcon">&#x2613;</span>
        <label for="inUserPass">Password:</label>
        <input type="password" name="inUserPass"/>
        <span class="lineIcon">&larr;</span>
        <span class="msgError">{{strerrUserPass}}</span>
    </div>

    <input type="submit" value="login"/>
</form>
{% endblock %}
