{% extends "boilerplate.html" %}

{% block content %}
<section name="content">
    <!-- style nearby as reminder -->
    <style>

        form {
/*             background: #ccc; */
/*             border: 2pt ridge; */ 
            border-radius: 1em;
/*             margin: .5em; */
            /*width: 80%;*/
/*             padding: 1em; */
        }

        .encapField {
            width: 100%;
        }

        .inField {
            width: 100%;
            display:flex;
            flex-direction: row;
            align-items: center;
            border-radius: .5em;
        }

        .status-condition_ERROR input {

            background-image: -webkit-linear-gradient(top, rgba(255,0,0,255), rgba(255,0,0,.2));
            background-image: -moz-linear-gradient(top, rgba(255,0,0,255), rgba(255,0,0,.2));
            background-image: linear-gradient(to bottom, rgba(255,0,0,255), rgba(255,0,0,.2));
        }

        label {
            padding: .25em;
            font-weight: bold;
            text-align: right;
            width: 16ch;
        }

        .msgError {
            font-style: italic;
            text-align: left;
        }


        .lineIcon {
            font-weight: bold;
            font-size: 200%;
            color: #f00;
            text-align: center;
            vertical-align: middle;
        }

        .lineIcon {
            visibility: hidden;
        }
        .status-condition_ERROR .lineIcon {
            visibility: visible;
        }

         .rightField { 
             text-align: right;
/*             width: 100%; */
        }
    </style>

    <form action="signup" method="POST">
        <h3>User Signup</h3>

        <div class="inField {{statusUserName}}">
            <span class="lineIcon">&#x2613;</span>
            <label for="inUserName">User Name:</label>
            <input type="text" name="inUserName" value="{{strUserName}}"/>
            <span class="lineIcon">&larr;</span>
            <span class="msgError">{{strerrUserName}}</span>
        </div>
        <div class="inField {{statusUserPass0}}">
            <span class="lineIcon">&#x2613;</span>
            <label for="inUserPass0">Password:</label>
            <input type="password" name="inUserPass0" />
            <span class="lineIcon">&larr;</span>
            <span class="msgError">{{strerrUserPass0}}</span>
        </div>
        <div class="inField {{statusUserPass1}}">
            <span class="lineIcon">&#x2613;</span>          
            <label for="inUserPass1">Retype Password:</label>
            <input type="password" name="inUserPass1" />
            <span class="lineIcon">&larr;</span>
            <span class="msgError">{{strerrUserPass1}}</span>
        </div>
        <div class="inField {{statusUserEmail}}">
            <span class="lineIcon">&#x2613;</span>          
            <label for="inUserEmail">Email:</label>
            <input type="text" name="inUserEmail" value="{{strUserEmail}}" />
            <span class="lineIcon">&larr;</span>
            <span class="msgError">{{strerrUserEmail}}</span>
        </div>

        <!-- this JUST WORKS, ok! -->
        <div class="inField">
            <span class="lineIcon">&#x2613;</span>
            <label>&nbsp;</label>
            <input type="submit"/>
        </div>
    </form>
</section>
{% endblock %}
