{% extends "boilerplate.html" %}

{% block content %}
<section name="content">
    <!-- style nearby as reminder -->
    <style>

        label {
            padding: .25em;
            font-weight: bold;
            text-align: right;
            width: 16ch;
        }

    </style>

        <h3>Register New User</h3>
        <p>All fields are required.</p>

    <form action="signup" method="POST">
        <div class="inField {{statusUserName}}">
            <span class="lineIcon">&#x2613;</span>
            <label for="inUserName">User Name:</label>
            <input type="text" name="inUserName" value="{{strUserName}}"/>
            <span class="lineIcon">&larr;</span>
            <span class="msgError">{{strerrUserName}}</span>
        </div>
        <div class="inField {{statusUserPass0}}">
            <span class="lineIcon">&#x2613;</span>
            <label for="inUserPass0">Password:</label>
            <input type="password" name="inUserPass0" />
            <span class="lineIcon">&larr;</span>
            <span class="msgError">{{strerrUserPass0}}</span>
        </div>
        <div class="inField {{statusUserPass1}}">
            <span class="lineIcon">&#x2613;</span>          
            <label for="inUserPass1">Retype Password:</label>
            <input type="password" name="inUserPass1" />
            <span class="lineIcon">&larr;</span>
            <span class="msgError">{{strerrUserPass1}}</span>
        </div>
        <div class="inField {{statusUserEmail}}">
            <span class="lineIcon">&#x2613;</span>          
            <label for="inUserEmail">Email:</label>
            <input type="text" name="inUserEmail" value="{{strUserEmail}}" />
            <span class="lineIcon">&larr;</span>
            <span class="msgError">{{strerrUserEmail}}</span>
        </div>

        <!-- this JUST WORKS, ok! -->
        <div class="inField">
            <span class="lineIcon">&#x2613;</span>
            <label>&nbsp;</label>
            <input type="submit" value="Register"/>
        </div>
    </form>
</section>
{% endblock %}
